<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Children page (using Bootstrap pagination)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  </head>
  <body>
    {% for item in context %}
      <div>
        <h1>{{ item.title }}</h1>
        <p>{{ item.rating }}</p>
        <p>{{ item.description }}</p>
      </div>
    {% endfor %}
    <div class="container">
      {{ pagination.links }}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>
                  {{ loop.index + (page - 1) * per_page }}
                </td>
                <td>
                  {{ user }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {{ pagination.links }}
    </div>
  </body>
</html>
